{{> header}}
<div class="container">
    <div class="row space-top">
        <div class="col-md-12">
            <h1>Create New Furniture</h1>
            <p>Please fill all fields.</p>
        </div>
    </div>
    <form method="post" action="#/furniture/create">
        <div class="row space-top">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" for="make">Make</label>
                    <input class="form-control" id="make" name="make" type="text">
                </div>
                <div class="form-group has-success">
                    <label class="form-control-label" for="model">Model</label>
                    <input class="form-control is-valid" id="model" name="model" type="text">
                    <div class="form-control-feedback">This input value is valid</div>
                </div>
                <div class="form-group has-danger">
                    <label class="form-control-label" for="year">Year</label>
                    <input class="form-control is-invalid" id="year" name="year" type="number">
                    <div class="form-control-feedback">This input value is invalid</div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="description">Description</label>
                    <input class="form-control" id="description" name="description" type="text">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" for="price">Price</label>
                    <input class="form-control" id="price" name="price" type="number" step="0.01">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="imageUrl">Image</label>
                    <input class="form-control" id="imageUrl" name="imageUrl" type="text">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="material">Material (optional)</label>
                    <input class="form-control" id="material" name="material" type="text">
                </div>
                <input id="createBtn" type="submit" class="btn btn-primary" value="Create" />
            </div>
        </div>
    </form>
</div>