<nav style="background-color: black;height:50px;">
    <a style="color:yellow; padding-right:10px;" href="#/furniture/all">Home</a>
    <a style="color:crimson;padding-right:10px;" href="#/furniture/mine">Profile</a>
    <a style="color: aqua;padding-right:10px;" href="#/furniture/create">Create furniture</a>
</nav>
<div id="notifications">
    <div style="display: none;" id="loadingBox" class="notification">
      <span>Loading …</span>
    </div>
    <div style="display: none;" id="infoBox" class="notification">
      <span></span>
    </div>
    <div style="display: none;" id="errorBox" class="notification">
      <span></span>
    </div>
  </div>