ul {
    list-style-type: none;
}

li.closed>ul {
    display: none;
}

li.closed::before {
    background-image: url(img/right.png);
    content: "";
    width: 13px;
    height: 13px;
    background-size: cover;
    position: absolute;
    margin-left: -15px;
    margin-top: 2px;
}

li.open::before {
    background-image: url(img/down.png);
    content: "";
    width: 13px;
    height: 13px;
    background-size: cover;
    position: absolute;
    margin-left: -15px;
    margin-top: 2px;
}